@media only screen and (max-width: 700px) {
  /* For mobile phones: */

  body {
    zoom: 1.1 !important;
    background-size: cover !important;
    background-repeat: inherit !important;
    background-image: url("https://live.staticflickr.com/65535/49519997503_ed71a92f39_m.jpg") !important;
  }

  .Button-Box {
    margin: 100px auto auto auto !important;
  }
}
/* @media only screen and (max-width: 411px) { */
/* For mobile phones: */
/* body {
    background-size: cover !important;
    background-repeat: inherit !important;
    background-image: url("https://live.staticflickr.com/65535/49519997503_ed71a92f39_m.jpg") !important;
  }
  .Button-Box {
    margin-left: 100px !important;
  }
} */

.Button-Box {
  background: rgb(252, 250, 250);
  border: 1px solid #e9e7e7;
  border-radius: 25px;
  width: 202px;
  height: 320px;
  margin: 100px auto auto auto !important;
}

.button {
  height: 25px;
  width: 25px;
  outline: 0 !important;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: rgb(255, 255, 255);
  color: #07d4de;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.tbox {
  width: 160px;
  font-size: 20px;
  background: none;
  color: transparent;
  text-shadow: 0px 0px 0px #07d4de;
  text-align: right;
  border-radius: 20%;
  border: none;
  outline: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.rbox {
  color: transparent;
  text-shadow: 0px 0px 0px #07d4de;
  font-size: 40px;
}

.but {
  height: 30px;
  width: 25px;
  outline: 0 !important;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: #3db0f3fd;
  color: white;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 10px;
}

.equals {
  outline: 0 !important;
  border-radius: 999px;
  border: 1px solid #ffffff;
  background-color: #3db0f3fd;
  color: white;
  margin-top: 5px;
  margin-left: 12px;
  margin-right: 10px;
  width: 33%;
  height: 10%;
}

.plusminus {
  width: 34px;
  height: 26px;
  outline: 0 !important;
  border-radius: 50%;
  border: 1px solid #ffffff;
  background-color: rgb(255, 255, 255);
  color: #07d4de;
  margin-top: 5px;
  margin-left: 10px;
  margin-right: 2px;
}
